export ACME_CONTACT='me@email.com'
export ACME_DIRECTORY_URL='https://anchor.dev/myname/localhost/x509/ca/acme'
export ACME_KID='random_bits'
export ACME_HMAC_KEY='random_crypto_bits'
export HTTPS_PORT='77777'
export SERVER_NAMES='mydomain.lcl.host,mydomain.localhost'